{% extends "base.html" %}
{% load mezzanine_tags keyword_tags truncate_chars %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
<div id="grid-middle-news">
    <div id="news-wrapper">
        {% for n in newslist.object_list %}
        <div class="news-item">
            <div class="news-date">
                {{ n.publish_date|date:"M"|upper}}
                <span class="date-day">{{ n.publish_date|date:"d"}}</span>
                {{ n.publish_date|date:"Y"}}
            </div>
            <div class="news-image">
                <a href="{{ n.news_url }}" target="{{ n.news_url_target }}"><img src="{{ MEDIA_URL }}{% thumbnail n.headerimg 200 145 %}" alt="n.title" /></a>
            </div>
            <div class="news-data">
                <h2>{{ n.title|upper }}</h2>
                <div class="news-author">{{ n.author }}</div>
                {{ n.news_text|truncchar:95|safe }}
            </div>
            <div class="news-link">
                <a href="{{ n.news_url }}" target="{{ n.news_url_target }}"><img src="{{ STATIC_URL }}images/news-read-more.png" alt="Read More" /></a>
            </div>
        </div>
        <div class="separator"><hr /></div>
        {% endfor %}
        <div class="news-item-paging">
        {% pagination_for newslist %}
        </div>
    </div>
</div>
{% endblock %}