{% load i18n %}

<div class="paging">
    {% comment %}<p>{% trans "Page" %} {{ current_page.number }} {% trans "of" %}
        {{ current_page.paginator.num_pages }}:</p>{% endcomment %}
    <ul>
{#        {% if current_page.has_previous %}#}
        <li class="prev"><a href="?page={{ current_page.previous_page_number }}">< PREV</a></li>
{#        {% endif %}#}
        {% for page in current_page.visible_page_range %}
        <li>
            {% ifequal page current_page.number %}
            <strong>{{ page }}</strong>
            {% else %}
            <a href="?page={{ page }}">{{ page }}</a>
            {% endifequal %}
        </li>
        {% endfor %} 
{#        {% if current_page.has_next %}#}
        <li class="next"><a href="?page={{ current_page.next_page_number }}">NEXT ></a></li>
{#        {% endif %}#}
    </ul>
</div>

